apiVersion: v1
clusters: []
contexts:
- context:
    cluster: ""
    user: svc_jenkins
  name: svc_jenkins
current-context: ""
kind: Config
preferences: {}
users:
- name: svc_jenkins
  user:
    as-user-extra: {}
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJpbnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoiZGVmYXVsdC10b2tlbi1za3pzaiIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJkZWZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiZWRkNDA5MTAtMDYyMC0xMWU4LWE4ZDMtMDJkYzA1YjE0MDdlIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50OmludDpkZWZhdWx0In0.DVGk8NownIQ0EDYh8EET_uSF3xDbkWaJOGz4EJESCiSGwV-RotsqaQY6AttVhFJYxKoVTnAL3OVoM0qNqRQxUs8SUnxeYUJwUBitGjDi_kZq-msDZ87nu4ChyWb_ekhWRIFzfc-w89HGUFMAKft05iY_CK8Jsdlm2t9vqYDO8KZB7bmyl0JIJ5P2Fr5hdVDnCYep6Py9AZKsAX7YNXImTWR8jtvZGRH-FaSwZaNg4DMmFrN_dNlpMydSrWC9UxkDizUCtVIftWRdtIwaBe8DrtR9-8dp5j2i0SsWWB8RPMKc4W5Jg5yXHtC-6v3C5kT9VCFZK9CsbwcJ4GrXBqh6AA
